<% unless @user.organizations.blank? %>
  <h3><%=l(:label_organization_plural)%></h3>
  <ul>
    <% @user.organizations.each do |organization| -%>
      <li>
        <%= link_to_organization organization %>
        <%= "(#{organization.description})" if organization.description.present? %>
      </li>
    <% end %>
  </ul>
<% end %>
